// Block SCSS File
// Components of the Solar System Webpage
@import 'mixin.scss';
@import 'generl.scss';
@import 'registar.scss';
@import 'planet.scss';
@import 'header.scss';
@import 'main.scss';
@import 'profile.scss';
@import 'Solar-system.scss';
@import 'sun.scss';
@import 'mercury.scss';
@import 'venus.scss';
@import 'earth.scss';
@import 'moon.scss';
@import 'mars.scss';
@import 'jupiter.scss';
@import 'saturn.scss';
@import 'uranus.scss';
@import 'footer.scss';


