.header{
    width: 1200px;
    height: 60px;
    margin: auto;
    margin-top: 30px;
    border: 2px solid #6d6d6d;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    background: inherit;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    position: relative;

    &__title{
        color: #ffffffb9;
        font-size: 30px;
        text-shadow: 0 0 100px rgba(255, 255, 255, 0.2);
    }

    &__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        &__item{
            color: #ffffffb9;
            font-size: 15px;
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover{
                color: #ff9800;
            }
            &:hover:nth-child(2){
                color: #6b6056;
            }
            &:hover:nth-child(3){
                color: #a5642e;
            }
            &:hover:nth-child(4){
                color: #4bb819;
            }
            &:hover:nth-child(5){
                color: #bb4111;
            }
            &:hover:nth-child(6){
                color: #ff8e32;
            }
            &:hover:nth-child(7){
                color: #66350d;
            }
            &:hover:nth-child(8){
                color: #00529e;
            }
            &:hover:nth-child(9){
                color: #ff0000;
            }
        }
    }

    &__profile{
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &__img{
            width: 50%;
            height: 50%;
            border-radius: 50%;
        }

        &__title{
            color: #ffffffb9;
            font-size: 15px;
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover{
                color: #ff9800;
            }
        }
    }

    &__info{
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        border: 2px solid #6d6d6d;
        border-radius: 15px;
        background: black;
        box-shadow: 0   0 10px rgba(255, 255, 255, 0.2);
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 10px;

        &__text{
            color: #ffffffb9;
            font-size: 15px;
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover{
                color: #ff9800;
            }
        }

        &__title{
            color: #ffffffb9;
            font-size: 15px;
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover{
                color: #ff9800;
            }
        }

        &__subtext{
            color: #ffffffb9;
            font-size: 15px;
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover{
                color: #ff9800;
            }
        }
    }
}

.menu{
    display: none;
}

@media (max-width: 768px){
    .menu{
        width: 90%;
        height: 40px;
        margin: auto;
        padding: 0px 10px;
        margin-top: 10px;
        border: 2px solid #6d6d6d;
        border-radius: 15px;
        overflow-x: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        &__text{
            color: #ffffffb9;
            font-size: 15px;
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover{
                color: #ff9800;
            }
            &:hover:nth-child(2){
                color: #6b6056;
            }
            &:hover:nth-child(3){
                color: #a5642e;
            }
            &:hover:nth-child(4){
                color: #4bb819;
            }
            &:hover:nth-child(5){
                color: #bb4111;
            }
            &:hover:nth-child(6){
                color: #ff8e32;
            }
            &:hover:nth-child(7){
                color: #66350d;
            }
            &:hover:nth-child(8){
                color: #00529e;
            }
            &:hover:nth-child(9){
                color: #ff0000;
            }
        }
    }

    .header{
        width: 90%;
        height: 60px;
        margin: auto;
        margin-top: 30px;
        border: 2px solid #6d6d6d;
        border-radius: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 10px;
        gap: 10px;
        background: inherit;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
        &__title{
            color: #ffffffb9;
            font-size: 30px;
            text-shadow: 0 0 100px rgba(255, 255, 255, 0.2);
        }

        &__list{
            display: none;
        }

        &__profile{
            width: 50px;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &__img{
                width: 50%;
                height: 50%;
                border-radius: 50%;
            }

            &__title{
                color: #ffffffb9;
                font-size: 15px;
                cursor: pointer;
                transition: color 0.3s ease;

                &:hover{
                    color: #ff9800;
                }
            }
        }
    }
}